  footer {
    height: 110px;
  }

  .user-icon {
    color: white;
  }

  .user-icon:hover {
    color:black;
  }

  .even-columns {
    height: 100vh;
    width:100vw;
  }

  .dummy-columns {
    height:200px;
    background-color: #E5E5E5;
  }

  .add-button {
    background-color: white;
    border-radius:50%;
    padding:10px;
    cursor:pointer;
  }

  .referral-code {
      color: #266A61;
  }

  .down-arrow {
    cursor:pointer;
  }